<!-- <p style="color: green"><%= notice %></p> -->

<% content_for :title, "Friends" %>

<h1>Friends List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>

    <% # if friend.user == current_user %>
      <p>
        <%= link_to "Show this friend", friend %>
      </p>
    <% # end %>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
